{% extends 'base.html.twig' %}

{% block body %}
<h1>Login</h1>


{{ form_start(formUser) }}

        <div class="form-group">

            <label  class="col-lg-2" for="">NOM</label>
            {{ form_widget(formUser.firstname) }}

        </div>

        <div class="form-group">

            <label class="col-lg-2" for="">Prénom</label>
            {{ form_widget(formUser.lastname) }}

        </div>

        <div class="form-group">

            <label class="col-lg-2"for="">Date de naissance</label>
            {{ form_widget(formUser.dateofbirth) }}

        </div>


        <div class="form-group">

            <label class="col-lg-2" for="">Permis</label>
            {{ form_widget(formUser.hasdriverlicence) }}

        </div>

        <div class="form-group">

            <label class="col-lg-2" id="label_carid" for="">Voiture</label>
            {{ form_widget(formUser.carid) }}

        </div>

        <div class="form-group">

            <label  class="col-lg-2"id="label_colorid" for="">Couleur</label>
            {{ form_widget(formUser.colorid) }}

        </div>

{{ form_end(formUser) }}

{#
    
    MESSAGE FLASH

    #}


    <div class="alert alert-success row col-lg-6" id="success-alert">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong>Success! </strong>
		Vos données ont bien été pris en compte
	</div>
	<div class="alert alert-danger row col-lg-6" id="error-alert" style="display: none;">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong>Error! </strong>
		Une erreur s'est produite lors de l'opération
	</div>
	<div class="alert alert-warning row col-lg-6" id="date-alert" style="display: none;">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong>Error! </strong>
		Veuillez renseigner une date s'il vous plait!!!
	</div>
{% endblock %}

{% block javascripts %}



<script type="text/javascript" src="{{ asset('js/registration.js') }}"></script>      
               
{% endblock %}